<configuration>
   <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.springframework" level="INFO"/>
   <property name="LOG_PATH" value="" />
   <!-- <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}spring.log}"/> -->
   <property name="FILE_LOG_PATTERN" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/${LOG_FILE}</File>
        <encoder>
          <pattern>${FILE_LOG_PATTERN}</pattern>
         </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>1</maxIndex>
            <FileNamePattern>${LOG_PATH}/${LOG_FILE}.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>1MB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
         <pattern>%msg%n</pattern>
     </encoder>
   </appender>
    
    
    <logger name="com.formulaone" level="DEBUG" additivity="false">
            <appender-ref ref="FILE" />
    </logger>
    
     <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>
    
     
</configuration>